.bg-gradient-primary {
    background-color: #275476;
    background-image: none;
}

.btn-primary {
    color: #fff;
    background-color: #436884;
    border-color: #436884;
}

.btn-primary:hover {
    color: #fff;
    background-color: #618bab;
    border-color: #618bab;
}

#estado,
#sexo {
    border-radius: 10rem;
    height: 50px;
    font-size: 13px;
}

.fa-plus-circle {
    color: #61c98b;
}

#addImagens:hover {
    background-color: #b5b5b54a;
    cursor: pointer;
}

.bg-register-image {
    background-image: url('../img/quadraF.jpg');
}

#logoFutLogin {
    margin-left: 20px;
    margin-top: 100px;
    width: 90%;
}